    #box-input {
        display: grid;
        height: 50%;
        align-items: end;
    }

    .chat {
        width: 78%;
        height: 400px;
        background-color: rgb(40, 255, 226);
    }

    #RidhoChat {
        height: 50%;
    }

    input {
        width: 83%;
        height: 40px;
    }

    button {
        width: 15%;
        height: 40px;
    }

    .result {
        width: 100%;
    }