    * {
        padding: 0;
        margin: 0;
        font-family: arial;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: grid;
        align-items: center;
    } 

    table {
        margin: 0 auto;
    }

    table tr th {
        background-color: rgb(0, 247, 255);
    }

    table tr th,
    table tr td {
        padding: 20px;
        font-size: 20px;
    }